@* import model type : createvillaDTO *@
@model Villa_WebMVC.Models.Dto.VillaCreateDTO

@* Web Title *@
@{
    ViewBag.Title = "Create Villa-";
}



<form asp-action="CreateVilla" enctype="multipart/form-data">
    <br />
    <div class="container border p-3" >
        <h1 class="text-primary">Create Villa</h1>
        <hr />

        <div class="row">
            @* validation check *@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @* Name *@
            <div class="col-2">
                <label asp-for="Name" class="control-label pt-2" style="font-size:15px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            @* Rate *@
            <div class="col-2">
                <label asp-for="Rate" class="control-label pt-2" style="font-size:15px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Rate" class="form-control" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>

            @* Details *@
            <div class="col-2">
                <label asp-for="Details" class="control-label pt-2" style="font-size:15px;"></label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="Details" class="form-control" rows="5" /></textarea>
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>

            @* Occupancy *@
            <div class="col-2">
                <label asp-for="Occupancy" class="control-label pt-2" style="font-size:15px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Occupancy" class="form-control" />
                <span asp-validation-for="Occupancy" class="text-danger"></span>
            </div>

            @* Sqft *@
            <div class="col-2">
                <label asp-for="Sqft" class="control-label pt-2" style="font-size:15px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Sqft" class="form-control" />
                <span asp-validation-for="Sqft" class="text-danger"></span>
            </div>

            @* ImageUrl *@
            <div class="col-2">
                <label asp-for="ImageUrl" class="control-label pt-2" style="font-size:15px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Image" class="form-control" />
                <input asp-for="ImageUrl" hidden class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            @* Amenity *@
            <div class="col-2">
                <label asp-for="Amenity" class="control-label pt-2" style="font-size:15px;"></label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="Amenity" class="form-control" /></textarea>
                <span asp-validation-for="Amenity" class="text-danger"></span>
            </div>
            
            @* Back Button *@
            <div class="col-5 offset-2">
                <a asp-action="IndexVilla" asp-controller="Villa" class="btn-primary btn form-control">Back to the list</a>
            </div>

            @* Create Button *@
            <div class="col-5 ">
                <input type="submit" value="Create" class="btn btn-success form-control" />
            </div>

        </div>
    </div>
    

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}